<div class="row">
  <!--<h3><strong>Drinks</strong></h3>-->
  {{# each drinks }}
  <!--<a href='/order/{{this.id}}'>-->
  <a id={{this.name}} class="drinkLink" href='/order/{{this.id}}/customize'>
    <div class="card text-white">
      <img class="card-img" src={{this.image}} alt="Card image">
          <h5 class="card-title center"><br>{{this.name}}</h5>
    </div>
  </a>
  <!--<button display="none" onclick="addToCart()" id='{{this.name}}add'>Add</button>-->
  {{/each }}
</div>
<a class="text-white" href="/about/">About</a>