<div class="row">
  {{# each drinks }}
  <!--<a href='/order/{{this.id}}'>-->
  <a id={{this.name}} onclick='getModifiers()' href='/order/{{this.id}}'>
  <div class="card bg-dark text-white">
  <img class="card-img" src={{this.image}} alt="Card image">
  <div class="card-img-overlay">
  </div>
      <h5 class="card-title center">{{this.name}}</h5>
  </div>
  </a>
  <!--<button display="none" onclick="addToCart()" id='{{this.name}}add'>Add</button>-->
  {{/each }}
  <form method="post" action="/">
    <input type="hidden" name="chat" id="hiddenInput" value=""/>
    </form>
</div>
