{{# if drinks}}
<ul class="list-group list-group-flush">
  <h2><strong>Your Order:</strong></h2>
  {{# each drinks}}
  <li class="list-group-item"><b float="left">{{this.quantity}} {{drink.name}}</b><br>
    <div class="price">${{this.price}}</div>
    {{# each drink.modifiers}}
      {{@key}}:{{this}}
    {{/each}}
    </li>
    {{/each}}
</ul>
<strong><h1>${{totalPrice}}</h1></strong><br>
<form class="center-screen" method="GET" action="/completeOrder/">
  <input class="green" type="submit" value="Checkout">
</form>
{{else}}
  <strong>No items added to order</strong>
{{/if}}